/ProyectoFinal-BDD
/__pycache__
/document/*
/config/__pycache__
/documentation/__pycache__
routes/__pycache__/*.pyc_
/routes/__pycache__

models/__pycache__/medium.cpython-39.pyc
schemas/__pycache__/medium.cpython-39.pyc
/fastapibdd/*